 <div id="side" class="floatwrap">

  <div class="sideguide">
  <p><%= link_to 'カテゴリー一覧', category_list_path %></p>
   <li><%= link_to 'イベント情報','http://localhost:3000/cat_list/1'%></li>
   <li><%= link_to 'ボランティア情報','http://localhost:3000/cat_list/2'%></li>
   <li><%= link_to 'お知らせ','http://localhost:3000/cat_list/3'%></li>
  </div>

  <div class="sideguide">
  <p>今までのNEWS</p>
   <li><%= link_to '4月のNEWS', day_path %></li>
   <li><%= link_to '3月のNEWS', month_path %></li>
   <li><%= link_to '2月のNEWS', year_path %></li>

  </div>

</div>
