 <div id="side" class="floatwrap">

 <div>
   <p><%= link_to 'イベント情報','http://localhost:3000/cat_list/1'%></p>
   <p><%= link_to 'ボランティア情報','http://localhost:3000/cat_list/2'%></p>
   <p><%= link_to 'お知らせ','http://localhost:3000/cat_list/3'%></p>
  </div>

 <div>
<p>私たちも参加しています</p>
   <%= link_to image_tag('aurora.jpg', :size => '190x150'),'http://www.aurora2001.com/' %>
   <%= link_to image_tag('cayhane.jpg', :size => '190x150'),'http://www.cayhane.jp/shop/c/c01' %>
   <%= link_to image_tag('one_tree.jpg', :size => '190x150'),'http://www.cayhane.jp/shop/pages/2013opot.aspx' %>
</div>

 
</div>
