<h2>商品購入</h2>


<div class="field">
	<p>Artist</p>
	<%= @post.artist %>
</div>

<div class="field">
	<p>Title</p>
	<%= @post.title %>
</div>

<div class="field">
	<p>Place</p>
	<%= @post.place %>
</div>

<div>
	<p>Category</p>
	<%= @post.category_id %>
</div>

<div class="field">
	<p>Date</p>
	<%= @post.date %>
</div>

<div class="field">
	<p>Price</p>
	<%= @post.price %>
</div>

<div class="field">
	<p>Amount</p>
	<%= @post.amount %>
</div>

<div class="field">
	<p>Content</p>
	<%= @post.content %>
</div>

<div class="field">
	<p>購入枚数</p>
	<%= @buy %>
</div>

<%= form_for(@post) do |f| %> 

<div class="actions">
	<%= f.submit %>
</div>

 <% end %>

<%= link_to 'home', posts_path %>