

<h2>商品購入</h2>

<table style="border-spacing:20px 10px;border-collapse : separate ">
<tbody>
<tr>
	<th>Artist</th>
	<td><%= @post.artist %></td>
</tr>
<tr>
	<th>Title</th>
	<td><%= @post.title %></td>
</tr>
<tr>
	<th>Place</th>
	<td><%= @post.place %></td>
</tr>
<div>
	<th>Category</th>
	<td><%= @post.category_id %></td>
</div>

<tr>
	<th>Date</th>
	<td><%= @post.date %></td>
</tr>

<tr>
	<th>Price</th>
	<td><%= @post.price %></td>
</tr>

<tr>
	<th>Amount</th>
	<td><%= @post.amount %></td>
</tr>

<tr>
	<th>Content</th>
	<td><%= @post.content %></td>
</tr>
</tbody>
</table>

<%= form_for([@post, @buy],:url => {:action => "confirm"}) do |f| %> <!-- postに紐づいたbuyのフォームを作りたい場合の記述 -->
      <%= f.label :amount, "購入枚数" %>
      <%= f.text_field :amount %>
      <%= f.submit :value => "確認" %> 
 <% end %>   


<!-- <div><%= link_to '確認', confirm_post_path %></div> -->


